// Colors
$colBackground = #fafafa
$colForeground = #333
$colForegroundLighter = lighten(#222, 20%)

// Streets that work
$colContrast = #499989
$colContrastForeground = #fff

// Streets that need digits
$colError = #FF534E

