// Colors


$colBackground = #EEEEEE
$colForeground = #333

// Streets that work
$colContrast = #00B4FF
$colContrastForeground = #fff


// Streets that need digits
$colError = #e32700


$colContrastForeground = white

$colBackgroundModifier = #FFFFFF

