

#map 
  height: 500px

  @media (max-width: 320px)
    height: 300px

  svg
    path
      fill: #fff
      fill-opacity: 0.1
      stroke: #048
      stroke-width: 1.0px
      stroke-dasharray: 2,2
