.mapControl.content
  position: relative
  margin-top: 0px

  h2
    position: absolute
    margin-top: 10px
    background-color: rgba(255,255,255,0.9)
    padding: 10px 40px 10px 0px
    z-index: 1


.leaflet-container a!important
  text-decoration: underline

#map 
  height: 500px


  @media (max-width: 320px)
    height: 350px

  svg
    path
      fill: #fff
      fill-opacity: 0.2
      stroke: #048
      stroke-width: 1.0px
      stroke-dasharray: 2,2
