.mapControl.content
  position: relative
  margin-top: 0px

.leaflet-container 
  a
    text-decoration: underline!important
  p
    margin: 2px 0px
  h2
    margin: 4px 0px

#map 
  height: 500px


  @media (max-width: 360px)
    height: 340px

  svg
    path
      fill: none
      stroke: #000
      stroke-width: 1px
