// FONTS

body
  font-family: 'Helvetica Neue','Helvetica','Roboto', sans-serif

h1, h2, h3, h4
  font-weight: 500
  margin-bottom: 10px
  color: #333

h1
  background-image: url(../images/letters.jpg)
  background-size: cover
  color: white
  margin: 0
  padding: 20px 20px 20px 20px
  font-size: 38px
  text-shadow: 0px 2px 1px rgba(0,0,0,0.8)
  font-weight: 600
  letter-spacing: -0.002em

@media (min-width: 400px)
  h1
    font-size: 50px
  h2
    font-size: 30px
