// FONTS

body, input
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Helvetica Neue','Helvetica', sans-serif

h1, h2, h3, h4
  font-weight: 500
  margin: 0 0 10px 0

/* Text: */

h1
  font-size: 38px
  line-height: 45px
  font-weight: 700
  padding: 10px 10px 10px 10px
  background-color: $colForeground
  color: $colBackground

h2
  font-size: 22px
  font-weight: 400
  margin-bottom: 10px
  margin-top: 20px

label, p
  color: $colForeground
  font-size: 14px
  font-weight: 400

label
  color: $colForegroundLighter

input
  font-size: 18px
  font-weight: 300

.searchResults
  font-size: 13px
  font-weight: 300

  li
    line-height: 24px

  .schoolName, .missingDigit .streetName
    text-decoration: none
    border-bottom: 3px solid darken($colContrastForeground, 10%)
    padding-bottom: 1px

    &:focus
      background-color: rgba(255,255,255,0.4)

    &:hover
      text-decoration: none
      border-bottom: 3px solid $colContrastForeground
      padding-bottom: 1px


@media (min-width: $mobileBreakpoint)
  h1
    font-size: 36px
    line-height: 54px
    padding: 25px 25px 25px 25px

  h2
    font-size: 30px
    margin-top: 40px

  label
    font-size: 20px

  input
    font-size: 24px

  .searchResults
    font-size: 16px

    ul li
      line-height: 24px