// FONTS

body
  font-family: 'Helvetica Neue','Helvetica','Roboto', sans-serif

h1, h2, h3, h4
  font-weight: 500
  margin: 0 0 10px 0
  color: #333

/* Text: */

h1
  font-family: HelveticaNeue-Thin
  font-size: 45px
  color: #00C7FF
  line-height: 54px
  margin-left: 20px
  margin-top: 15px

h2
  font-size: 20px

label
  color: #666
  font-size: 14px
  font-family: HelveticaNeue-Light, sans-serif

input
  font-family: HelveticaNeue-Light, sans-serif
  font-size: 18px

.schoolName
  font-family: HelveticaNeue-Roman, sans-serif


@media (min-width: 400px)
  h1
    font-size: 54px
    line-height: 70px
  h2
    font-size: 30px

  label
    font-size: 20px

  input
    font-family: HelveticaNeue-Light, sans-serif
    font-size: 24px
