// Variables

$mobileBreakpoint = 400px


// Useful mixins for CSS3 effects.
@import 'nib'
@import '_colors'
@import '_mixins'
@import '_searchResult'
@import '_mapControl'
@import '_typography'

body
  margin: 0 auto
  color: $colForeground
  background-color: $colBackground
  max-width: 800px

  @media (min-width: 800px)
    border-left: 1px solid #ddd
    border-right: 1px solid #ddd

  .clear
    clear:both

  .footer
    margin: 20px
    padding: 0
    color: $colForeground
    font-weight: 300
    a
      color: darken($colForeground, 40%)
    ul
      padding-left: 14px
      right-left: 14px
      li
        margin-bottom: 6px

    p
      margin: 10px 0 0 0
      font-weight: 300

    @media (min-width: 600px)
      width: 43%
      float: left

  // Lazily decalre global margins. Refactor.
  h1, h2, h3, h4, p, label, input
    margin-left: 10px
    margin-right: 10px
    
    @media (min-width: $mobileBreakpoint)
      margin-left: 20px
      margin-right: 20px

 
