// Useful mixins for CSS3 effects.
@import 'nib'


@import '_variables'
@import '_mixins'

@import '_typography'


body 
  margin: 0

  .clear
    clear:both

  .footer
    padding: 20px
    color: #888
    font-weight: 300
    a
      color: #444

  .content
    padding-left: 20px

  #map 
    height: 500px

    @media (max-width: 320px)
      height: 300px

    svg
      path
        fill: #fff
        fill-opacity: 0.1
        stroke: #048
        stroke-width: 1.5px

      path:hover
        fill: #fff
        fill-opacity: 0.6

  form
    padding-right: 20px

    label
      display: block
      margin-bottom: 10px
      color: #666
      font-size: 16px

    .inputWrapper
      background-color: #f8f8f8
      padding: 3px
      display: inline-block
      border-radius: 2px 2px 0px 0px
      border: 1px #eaeaea solid

      input
        font-size: 18px

  .searchResults
    border-top: 1px #fefefe solid
    border-bottom: 1px #ddd solid
    background-color: #fafafa
    font-size: 12px
    padding: 5px 0px 0px 0px
    min-height: 10px

    @media (min-width: 400px)
      font-size: 16px


    ul
      list-style: none
      padding: 0
      margin: 0

    ul li
      margin-bottom: 5px
      clear: both
      width: 100%
      border-top: 1px solid #e8e8e8

      .heading
        margin: 5px 5px 5px 5px

        span.arrow
          color: #aaa

      .streetSide
        width: 48%
        float: left

        .sideHeading
          text-align: center
          margin: 5px 0px 5px 0px
          font-style: italic
          color: #888
        ul
    
          li
            padding: 5px 5px 5px 0px
            margin: 5px 5px 5px 0px
            text-align: center
            border-top: none
            border-bottom: none

            .schoolName
              font-weight: bold

            .streetNumbering
              font-size: 14px
              margin-bottom: 3px

              .number
                display: inline-block
                padding: 3px 6px 3px 6px
                background-color: #fff
                border-radius: 2px
                border: 1px solid #ddd

    ul li:first-child
      border-top: none

    .streetSide.even
      margin-left: 5px

    .streetSide.even .ul
      border-left: dotted 1px #888
