// Useful mixins for CSS3 effects.
@import 'nib'

@import '_variables'
@import '_mixins'
@import '_searchResult'
@import '_mapControl'

@import '_typography'

body
  margin: 0 auto
  color: #333
  background-color: #fafafa
  max-width: 800px

  @media (min-width: 800px)
    border: 1px solid #eee

  .clear
    clear:both

  .footer
    margin: 20px
    color: #888
    font-weight: 300
    a
      color: #444
    ul
      padding-left: 28px
      li
        margin-bottom: 6px

    @media (min-width: 600px)
      width: 40%
      float: left

  .content
    padding-left: 20px
    margin-top: 20px

 
