doctype html
// if IE 6
  <html id="ie6" lang="en">
// if IE 7
  <html id="ie7" lang="en">
// if IE 8
  <html id="ie8" lang="en">
// if IE 9
  <html id="ie9" lang="en">
// if[!IE]><!
html(lang='en')
  //<![endif]
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Hvilken barneskole hører dere til?

    link(href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css', rel='stylesheet')
    script(src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js')
    meta(name='viewport', content='initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width')

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,400,700', type='text/css')
    link(rel='stylesheet', href='stylesheets/app.css', type='text/css')

  body
    h1 Hvilken barneskole hører dere til?

    include templates/_search_school.jade
    include templates/_map.jade

    .footer
      small 
        strong Verdt å merke seg
        ul
          li Kommunen forsøker å få dere inn på den nærmeste skolen eller skolen som er i området dere bor i – men kan ikke garantere noe.
          li Dere kan søke om å bytte skole om dere vil

    .footer
      small 
        strong Bedre og billigere offentlige tjenester bygd på delt kildekode 
        | Etter å ha sett de 
        a(href="http://www.utdanningsetaten.oslo.kommune.no/skoletilhoerighet/") 51 PDF sidene og kartene
        |  Oslo Kommune hadde på sidene sine tenkte jeg det var verdt å lage en liten skisse for å se om det hele kunne forenkles litt. Om du jobber i en kommune og gjenbruke kildekoden ligger den på  
        a(href="https://github.com/bengler/what-school") Github
        | . Vennlig hilsen 
        a(href="http://bengler.no/even") even
        | .

    script(src='javascripts/vendor.js')
    script(src='javascripts/template.js')
    script(src='javascripts/app.js')
    script.
      require('initialize');

