doctype html
// if IE 6
  <html id="ie6" lang="en">
// if IE 7
  <html id="ie7" lang="en">
// if IE 8
  <html id="ie8" lang="en">
// if IE 9
  <html id="ie9" lang="en">
// if[!IE]><!
html(lang='en')
  //<![endif]
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Hvor skal barna gå på skolen?

    link(rel='stylesheet', href='stylesheets/app.css', type='text/css')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,900,100,500,700,300', rel='stylesheet', type='text/css')
    script(src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js')
    script(src="http://d3js.org/d3.v3.min.js", charset="utf-8")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", charset="utf-8")
    meta(name='viewport', content='initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width')

  body
    h1 Hvilken barneskole hører dere til?

    include templates/search_school.jade
    include templates/map.jade

    script(src='javascripts/vendor.js')
    script(src='javascripts/app.js')


    script.
      require('initialize');

