doctype html
// if IE 6
  <html id="ie6" lang="en">
// if IE 7
  <html id="ie7" lang="en">
// if IE 8
  <html id="ie8" lang="en">
// if IE 9
  <html id="ie9" lang="en">
// if[!IE]><!
html(lang='en')
  //<![endif]
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Hvilken barneskole hører dere til?

    link(href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css', rel='stylesheet')
    script(src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js')
    meta(name='viewport', content='initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width')

    link(rel='stylesheet', href='//cloud.typography.com/6042032/756044/css/fonts.css', type='text/css')
    link(rel='stylesheet', href='stylesheets/app.css', type='text/css')

  body
    h1 Hvilken barneskole hører dere til?

    include templates/_search_school.jade
    include templates/_map.jade

    .footer
      small 
        p
          strong Verdt å merke seg
        ul
          li Kommunen forsøker å få dere inn på den nærmeste skolen eller skolen som er i området dere bor i – men kan ikke garantere noe.
          li Dere kan søke om å bytte skole om dere vil

    .footer
      small 
        p 
          strong Vi kan få bedre og billigere offentlige tjenester bygget på delt kildekode
        p
          |  Etter å ha sett 
          a(href="http://www.utdanningsetaten.oslo.kommune.no/getfile.php/utdanningsetaten%20%28UDE%29/Internett%20%28UDE%29/ASA/Dokumenter/Alfabetisk%20gateregister%20skoletilh%C3%B8righet%20per%20112013.pdf") de 51 PDF sidene 
          | og  
          a(href="http://od2.pbe.oslo.kommune.no/xkart/skoler/#cp=600000,6650000,0") kartene
          |  Oslo kommune hadde på 
          a(href="http://www.utdanningsetaten.oslo.kommune.no/skoletilhoerighet/") siden sine
          |  tenkte jeg det var verdt å lage en liten skisse for å se om det hele kunne forenkles litt. Om du jobber i en kommune og vil gjenbruke noe av dette ligger det på  
          a(href="https://github.com/bengler/what-school") Github
          | .
        p
          | Vennlig hilsen 
          a(href="http://bengler.no/even") even
          | .

    script(src='javascripts/vendor.js')
    script(src='javascripts/template.js')
    script(src='javascripts/app.js')
    script.
      require('initialize');

