.content
  h2 Søk etter gata deres
  form
    label(for="streetName") Hvilken gate bor dere i?
    .inputWrapper
      input(id="streetName", type="text", name="streetName", placeholder="Normannsgata")
.searchResults
      