h2 Søk på adressen din
form(onsubmit="return false;", autocomplete="off", enctype="application/x-www-form-urlencoded", method="get")
  label(for="streetName") Hvor er det du bor?
  .inputWrapper
    input(id="streetName", autocomplete="off", type="text", name="streetName", placeholder="Skriv adressen for å søke")
.searchResults
