if street.oneSchool
  li 
   .heading
      span.arrow 
        ➳ 
      | Hele 
      strong #{street.streetName}
      | går på 
      .schoolName #{street.school} skole
else
  li 
    .heading 
      span.arrow 
        ➳ 
      | I 
      strong #{street.streetName}
      |  kommer det an på gatenummeret ditt.
      //- ul.streetSide.odd
      //-   li.sideHeading På ene siden av gata…
      //-   each stretch in odd
      //-     li
      //-       .streetNumbering
      //-         .number= stretch.oddStart
      //-         | &nbsp;&nbsp;&nbsp;–&nbsp;&nbsp;  
      //-         .number= stretch.oddEnd
      //-       .schoolName
      //-         = stretch.school
      //-         |  skole
      //- ul.streetSide.even
      //-   li.sideHeading  … og på den andre
      //-   each stretch in even
      //-     li
      //-       .streetNumbering
      //-         .number= stretch.evenStart
      //-         | &nbsp;&nbsp;&nbsp;–&nbsp;&nbsp;  
      //-         .number= stretch.evenEnd
      //-       .schoolName
      //-         = stretch.school
      //-         |  skole

  .clear